link(rel="import", href="../../../bower_components/polymer/polymer.html")

polymer-element(name="poker-add")
  template
    link(rel="stylesheet", type="text/css", href="./poker-add.css")
    .poker-add +
  script(type="text/javascript", src='./poker-add.js')