link(rel="import", href="../../../bower_components/polymer/polymer.html")

polymer-element(name="poker-info-top")
  template
    link(rel="stylesheet", type="text/css", href="./poker-info-top.css")
    .poker-info-top
      |some top data
  script(type="text/javascript", src='./poker-info-top.js')