
body
//   padding: 50px
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: darken(rgb(255, 255, 240), 1%)
  -webkit-text-size-adjust:100%
//   // -webkit-text-size-adjust: 100%
