link(rel="import", href="../../../bower_components/polymer/polymer.html")

polymer-element(name="poker-info-bottom")
  template
    link(rel="stylesheet", type="text/css", href="./poker-info-bottom.css")
    .poker-info-bottom
      | some bottom data
  script(type="text/javascript", src='./poker-info-bottom.js')