link(rel="import", href="../../../bower_components/polymer/polymer.html")


polymer-element(name="poker-card")
  template
    
    .poker-card(style="color:{{cardColor}}")
      span.card-score {{cardScore}}
      span.card-suit {{cardSuit}}
  script(type="text/javascript", src='./poker-card.js')
