body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: rgba(255, 255, 240, 1.0)

card-info-offset = -0.5em

.poker-card
  position: relative

  .card-score
    position: absolute

    // margin-top: 0.3* card-info-offset 
    // margin-left: 2.6* card-info-offset
    // text-align: right

    // padding: 1em

  .card-suit
    position: absolute
