link(rel="import", href="../../../bower_components/polymer/polymer.html")
//- link(rel="import", href="../poker-card/poker-card.html")

polymer-element(name="poker-table")
  template
    link(rel="stylesheet", type="text/css", href="./poker-table.css")
    
    .poker-table ?
      //- poker-card(value="ts")
      //- poker-card(value="AH")
      //- poker-card(value="2c")
      //- poker-card
      //- poker-card
  script(type="text/javascript", src='./poker-table.js')