link(rel="import", href="../../../bower_components/polymer/polymer.html")

polymer-element(name="poker-sub")
  template
    link(rel="stylesheet", type="text/css", href="./poker-sub.css")
    .poker-sub -
  script(type="text/javascript", src='./poker-sub.js')